[data-theme=dark]{
  [data-component=login]{
    form{
      background-color: $blue-gray-900;
    }
  }
  [data-component=topnav]{
    border-bottom: 1px solid darken($blue-gray-900, 5%);
    background-color: $blue-gray-900;

    .brand{
      // border-right: 1px solid darken($blue-gray-900, 5%);
      color: invert($blue-gray-900);
    }

    .input{
      background-color: darken($blue-gray-900, 5%);
    }

    > ul {
      li{
        &.nav-text,
        >a{
          border-left: 1px solid darken($blue-gray-900, 5%);
          color: invert($blue-gray-900);
        }
      }
    }
  }

  [data-component=sidenav]{
    background-color: $blue-gray-900;

    .menu-items{
      background-color: $blue-gray-900;
      >a{
        color: $white;
        border-bottom: 1px solid darken($blue-gray-900, 5%);

        &:hover, &:focus{
          color: $blue-gray-900;
          background-color: invert($blue-gray-900);
        }
      }

      .sub-menu{
        background-color: darken($blue-gray-900, 2%);
      }
    }
  }
}
