[data-theme=dark]{
  [data-component=topnav]{
    border-bottom: 1px solid darken($blue-gray-900, 5%);
    background-color: $blue-gray-900;

    .brand{
      border-right: 1px solid darken($blue-gray-900, 5%);
      color: invert($blue-gray-900);
    }

    > ul {
      li{
        >a{
          border-left: 1px solid darken($blue-gray-900, 5%);
          color: invert($blue-gray-900);
        }
      }
    }
  }

  [data-component=sidenav]{
    background-color: $blue-gray-900;

    ul{
      li{
        >a{
          color: $white;
          border-bottom: 1px solid darken($blue-gray-900, 5%);

          &:hover, &:focus{
            color: $blue-gray-900;
            background-color: invert($blue-gray-900);
          }
        }
      }
    }
  }
}
