.no{
  &-margin{
    @include _margin(0!important);
  }

  &-padding{
    &-top{
      padding-top: 0!important;
    }
    &-bottom{
      padding-bottom: 0!important;
    }
  }
}

@if $create-margin-helper {

  @each $breakpoint_name, $breakpoint_size in $breakpoints {

    @if $breakpoint_size == 0 {
      @for $i from 0 through $grid_columns{
        .ml-{
          &#{$breakpoint_name}-#{$i}{
            margin-left: 100% / $grid_columns * $i;
          }
        }
      }
    } @else {
      @include media($breakpoint_name){
        @for $i from 0 through $grid_columns{
          .ml-{
            &#{$breakpoint_name}-#{$i}{
              margin-left: 100% / $grid_columns * $i;
            }
          }
        }
      }
    }
  }
}
