[data-component=dropdown]{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background-color: $blue-gray-900;
  @include box-shadow(0 0 5px rgba($black,.55));
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  list-style: none;

  .dropdown-item{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba($black, .15);
    padding: 10px 5px;

    &:last-of-type{
      border-bottom: none;
    }

    a{
      display: block;
      padding: 5px 15px;
      color: $white;
    }

    >a{
      flex: 1 1 auto;
    }

    .dropdown-options{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;

      justify-content: center;
      align-items: center;

      a{
        padding: {
          left: 5px;
          right: 5px;
        }
      }
    }
  }

  @include media('md'){
    top: 70px;
  }
}
