@mixin create-inputs{
  display: block;
  padding: 0 $gutter/2;
  max-width: 100%;
  width: 100%;
  outline: none!important;
  border-radius: $create-form-inputs-border-radius;
  border: 1px solid $gray;
  margin-bottom: $margin;
  font-family: $roboto;

  &[disabled]{
    border: none;
  }

  @include transition(all $timing $ease);

  &:focus{
    border-color: $gray-900;
  }
}


@if $create-form-inputs{
  .group{
    @include _position(relative);
  }
  .input{
    @include create-inputs;
    height: $create-form-inputs-height;
  }

  textarea.input{
    @include create-inputs;
    height: $create-form-inputs-height * 3;
    resize: none;
    font-family: $roboto;
    padding: {
      top: 5px;
      bottom: 5px;
    }
  }
}
