.create-route{
  position: absolute;
  top: 15px;
  left: 0;
  height: 100%;
  width: 100%;

  opacity: 0;
  visibility: hidden;
  z-index: 9;

  @include transition(all $timing $ease);

  &.active{
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
