.create-route{
  position: absolute;
  top: 15px;
  left: 0;
  height: 100%;
  width: 100%;

  opacity: 0;
  visibility: hidden;
  z-index: 9;

  @include transition(all $timing $ease);

  &.active{
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  .map{
    position: relative;
    height: calc(100vh - 130px);
  }

  .button{
    &.block{
      width: 90%;
      height: 50px;
      margin: 5px auto;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
