// NAV - Component

@if $create-nav-component{

  [data-component=topnav]{
    height: 50px;
    border-bottom: 1px solid darken($white, 15%);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;

    a{
      text-decoration: none!important;
    }

    >div{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;

      form{
        flex-grow: 1;
        position: relative;
        display: none;

        &.active{
          display: block;
          position: absolute;
          width: 100%;
          left: 0;
          right: 0;
        }
        >a{
          position: absolute;
          top: 0;
          right: 0;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $red;
          color: $white;
        }
      }
    }

    .menu-item{
      color: $white;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 70px;

      @each $color in $colors{
        &.#{nth($color, 1)}{
          background-color: nth($color, 2);
        }
      }
    }

    .brand{
      height: 50px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 $padding;
      text-transform: uppercase;
      font-size: em(16);
      color: $blue-gray-900;
    }

    .input{
      height: 50px;
      margin: 0;
      border: none!important;
      background-color: transparent;
      color: $white;
      font-size: em(16);

      @include placeholder{
        color: darken($white, 50%);
        font-family: $fira;
      }
    }

    > ul {
      height: 50px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: flex-end;
      align-items: stretch;

      list-style: none;

      li{
        &.nav-text,
        >a{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          border-left: 1px solid darken($white, 15%);
          padding: 0 $padding;
        }
        &.nav-text{
          display: none;
        }
      }
    }
    @include media('md'){
      height: 70px;

      >div{
        form{
          display: block;
        }
      }

      .menu-item{
        height: 70px;
        width: 70px;
      }

      .toggleSearch{
        display: none;
      }

      .brand{
        height: 70px;
      }

      .input{
        height: 70px;
      }

      > ul {
        height: 70px;

        li{
          &.nav-text,
          >a{
            height: 70px;
          }
          &.nav-text{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
          }
        }
      }
    }
  }

}


[data-component=sidenav]{
  width: 100%;
  max-width: 250px;

  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  z-index: 5;

  @include transition(left $timing $ease);

  &.collapse{
    left: -250px;
  }
  .menu-items {
    height: calc(100vh - 50px);
    >div{
      >a {
        padding: $padding;
        display: block;
        border-left: 5px solid transparent;
        text-decoration: none!important;
        font-weight: 300;
        color: $white;

        &:hover, &:focus{
          @include transition(all $timing $ease);
        }
      } // end [ A ]
    }

    .sub-menu{
      position: absolute;
      top: 0;
      left: -250px;
      height: calc(100vh - 50px);
      width: 250px;
      z-index: 50;
      @include transition(all $timing $ease);

      &.active{
        left: 0;
      }

      .sub-menu-title{
        color: $white;
        height: 50px;

        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span{
          padding: 0 10px;
          flex: 1 1 auto;
        }
        a{
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
        }
      }

      form{
        padding: ($padding / 2) $padding;
      }
    } // end [ .SUB-MENU ]

    $count:1;
    @each $color in $colors {
      @if $count >= 3{
        >div{
          &:nth-child(#{$count - 2}){
            >a {
              border-left-color: nth($color, 2);
            }
            .sub-menu{
              .sub-menu-title{
                background-color: nth($color, 2);
                a{
                  background-color: darken(nth($color, 2), 10%);
                }
              }
            }
          }
        }
      }
      $count : $count + 1;
    }
  } // end [ .MENU-ITEMS ]

  @include media('md'){
    top: 70px;
    height: calc(100vh - 70px);

    &.collapse{
      left: -250px;
    }
    .menu-items {
      height: calc(100vh - 70px);

      .sub-menu{
        left: 0;
        height: calc(100vh - 70px);
        z-index: -1;

        &.active{
          left: 250px;
        }

        .sub-menu-title{
          height: 70px;
        }
      } // end [ .SUB-MENU ]
    } // end [ .MENU-ITEMS ]
  }
} // end [ DATA-COMPONENT=SIDENAV ]
