*{
  @include _margin;
  @include _padding;
}

*,::after,::before{@include box-sizing;}

body{
  font-family: $roboto!important;
  font-size: 14px;

  height: 100vh;
  width: 100%;
  overflow: hidden;

  main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .default-content{
    position: relative;
    top: 50px;
    left: 0;
    height: calc(100vh - 70px);
    width: 100%;
    z-index: 2;

    @include transition(all $timing $ease ($timing/2));

    @include media('md'){
      top: 70px;
      left: 250px;
      width: calc(100% - 250px);
    }
  }

  .welcome{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
      line-height: 1.1;
      font-size: em(30);
      small{
        display: block;
      }
    }

    @include media('lg'){
      h1{
        font-size: em(40)
      }
    }
  }
}
